.main-body {
    margin: -8px;
    background: rgb(228, 228, 216);

}

.header {
    margin: 0px;
    background: #006156;
    color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    z-index: 1;
}

.chats {
    background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg);
    height: 812px;
    margin-top: -13px;
    padding: 24px;
    padding-bottom: 98px;
    overflow-x: hidden;

}

.header img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.name {
    width: 220px;
    font-weight: bold;
}

.status {
    font-weight: lighter;
}

td.right-icons {
    position: fixed;
    right: 20px;
    top: 9px;
    font-size: 23px;
}

.zmdi-arrow-left {
    font-size: 23px;
    margin-left: 6px;
}

.right-icons i {
    margin-left: 13px;
}

.input-field {
    background: #fff;
    position: relative;
    width: 90%;
    height: 30px;
    color: #7d8488;
    border-radius: 30px;
    left: 10px;
    font-size: 25px;
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;
    display: flex;
}

.zmdi-attachment,
.zmdi-camera {
    float: right;
    padding-right: 15px;
}

.zmdi-mail-send {
    cursor: pointer;
    background: #008a7c;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 20px;
}

.zmdi-attachment {
    transform: rotate(230deg);
    margin-top: -14px;
    padding-right: 35px;

}

svg#smiley {
    margin-left: 10px;
}

input[type="text"] {
    border: none;
    outline: none;
    width: 40%;
    padding-bottom: 1px;
}

.message {
    color: #000;
    background: #fff;
    max-width: 60%;
    margin-top: 8px;
    padding: 13px;
    position: relative;
    clear: both;
}

.recv {
    border-radius: 0px 8px 8px 8px;
    float: left;
}

.sent {
    background: #e1ffc7;
    border-radius: 8px 0px 8px 8px;
    float: right;
}

.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.message.recv:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
}

.message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
}

p {
    color: #7d8488;
    font-size: 15px;
    float: right;
    margin: 0;
    margin-left: 10px;
    padding-top: 9px;
    /* margin-top: 12px; */
    /* position:relative; */
    /* left:200px; */
}

.zmdi-check-all {
    font-size: 22px;
    color: #00adff;
    padding-left: 5px;
}